<form method="post" action="{{ path('wish_delete', {'id': wish.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer cette offre?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ wish.id) }}">
    <button class="btn btn-outline-dark mb-3">Cette offre ne m'intéresse pas</button>
</form>
