{% extends 'base.html.twig' %}

{% block title %}Liste des demandes{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-5 mb-5">
                <div class="profile-card px-2">
                    <div class="card-header text-center">
                        <h3>Liste des demandes des utilisateurs</h3>
                    </div>
                    <div class="card-body pt-0 px-0">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col" class="text-uppercase text-white text-center">Prestation</th>
                                <th scope="col" class="text-uppercase text-white text-center">Nombre de participants</th>
                                <th scope="col" class="text-uppercase text-white text-center">Région</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for wish in wishes %}
                                {% if not wish.message %}
                                <tr>
                                    <td class="text-center align-middle">{{ wish.lesson.name }}</td>
                                    <td class="text-center align-middle">{{ wish.number }}</td>
                                    <td class="text-center align-middle">{{ wish.user.region ? wish.user.region : '' }}</td>
                                    <td  class="text-center align-middle">
                                        <a href="{{ path('wish_edit', {'wish': wish.id}) }}" title="Envoyer une offre">
                                            <i class="fas fa-comments-dollar fa-2x"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
