.carouselBlock {
  width: 640px;
  margin-left: 5vw;
  margin-top: 15vh;
  .carousel-text {
    text-shadow: 1px 1px 2px #d04300, 0 0 1em black, 0 0 0.2em grey;
  }
}

.view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 0 0;
}

.summary {
  width: 35vw;
  margin-right: 8vw;
  margin-top: 15vh;
  text-align: center;
  .entry-text {
    margin-top: 2rem;
    font-size: 38px;
  }
}
