.carouselBlock {
  width: 640px;
  margin-left: 5vw;
  margin-top: 15vh;
}

.view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 0 0;
}

.summary {
  width: 30vw;
  margin-right: 10vw;
  margin-top: 15vh;
}



