@media screen and (max-width: 991px){
  .desktop {
    display: none;
  }
  .navbar-toggler {
    background-color: $orange;
  }
  .appname {
    display: none;
  }
}
@media screen and (min-width: 992px){
  .mobile {
    display: none;
  }
}



