{% extends 'base.html.twig' %}

{%  block title %} Le concept {% endblock %}

{% block body %}

    <div class="grid-container">
        <div class="picture1 pl-5">
        <img src="https://i.ibb.co/ThgnSrq/screen-2.jpg" alt="Cirque">
        </div>
        <div class="picture2 mt-2 mb-5">
            <img src="https://i.ibb.co/bLySZNX/VM7-WZQ4-LQZQ2-THYMMSGP2-KJEIM.jpg" alt="Scene">
        </div>
        <div class="text1 pr-5 desktop">
            <p class="text-white"><b class="text-dark">Wild Circus School</b><br> est née de la volonté de faire vivre l'intensité du monde du cirque à toutes et à tous.
                Le but est de permettre la pratique de disciplines qui sont impossibles hors d'un chapiteau, et de créer
                des vocations qui pousseront les jeunes passionés à franchir la porte des écoles du cirque. Le monde du cirque
                a besoin de nouvelles recrues. Nous mettons en relation les cirques et leurs futurs artistes. </p>
        </div>
        <div class="text2 pr-5 mt-2 mb-5 mr-4 desktop">
            <p class="text-white">Les cours mettent en place de façon ludique, la découverte et un apprentissage progressif
                des différentes disciplines des arts du cirque :
                acrobatie, trapèze, corde, travail d’équilibre, jonglage, clown et dressage d'animaux…
                Cet apprentissage, évolutif et basé sur le développement de chacun, apporte des bases
                dans la compréhension et l’acquisition des disciplines enseignées.</p>
        </div>
        <div class="title text-center mt-5">
            <span class="text-dark goal">Notre objectif: </span><span class="text-white goal border-bottom">faire naître des vocations !</span>
            <p class="text-white mobile text0"><b class="text-dark">Wild Circus School</b><br> est née de la volonté de faire vivre l'intensité du monde du cirque à toutes et à tous.
                Le but est de permettre la pratique de disciplines qui sont impossibles hors d'un chapiteau, et de créer
                des vocations qui pousseront les jeunes passionés à franchir la porte des écoles du cirque. Le monde du cirque
                a besoin de nouvelles recrues. Nous mettons en relation les cirques et leurs futurs artistes. </p>
            <p class="text-white mobile">Les cours mettent en place de façon ludique, la découverte et un apprentissage progressif
                des différentes disciplines des arts du cirque :
                acrobatie, trapèze, corde, travail d’équilibre, jonglage, clown et dressage d'animaux…
                Cet apprentissage, évolutif et basé sur le développement de chacun, apporte des bases
                dans la compréhension et l’acquisition des disciplines enseignées.</p>
        </div>
    </div>

{% endblock %}

